<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="MOMClassLibrary" ToolsVersion="15.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="extendeddesignguidelinerules.ruleset" Action="Default" />
  <Include Path="managedminimumrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="mixedminimumrules.ruleset" Action="Default" />
  <Include Path="mixedrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1006" Action="None" />
    <Rule Id="CA1011" Action="None" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1026" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1502" Action="None" />
    <Rule Id="CA1505" Action="None" />
    <Rule Id="CA1506" Action="None" />
    <Rule Id="CA1702" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1717" Action="None" />
    <Rule Id="CA1722" Action="None" />
    <Rule Id="CA1801" Action="None" />
    <Rule Id="CA1804" Action="None" />
    <Rule Id="CA1811" Action="None" />
    <Rule Id="CA2233" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="Info" />
    <Rule Id="IDE0002" Action="Info" />
    <Rule Id="IDE0003" Action="Info" />
    <Rule Id="IDE0003WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0004" Action="Info" />
    <Rule Id="IDE0004WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0005" Action="Info" />
    <Rule Id="IDE0007" Action="Info" />
    <Rule Id="IDE0007WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0008" Action="Info" />
    <Rule Id="IDE0008WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0009" Action="Info" />
    <Rule Id="IDE0009WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0011" Action="Info" />
    <Rule Id="IDE0011WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0016" Action="Info" />
    <Rule Id="IDE0016WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0017" Action="Info" />
    <Rule Id="IDE0017WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0018" Action="Info" />
    <Rule Id="IDE0018WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0019" Action="Info" />
    <Rule Id="IDE0019WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0020" Action="Info" />
    <Rule Id="IDE0020WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0021" Action="Info" />
    <Rule Id="IDE0022" Action="Info" />
    <Rule Id="IDE0023" Action="Info" />
    <Rule Id="IDE0024" Action="Info" />
    <Rule Id="IDE0025" Action="Info" />
    <Rule Id="IDE0026" Action="Info" />
    <Rule Id="IDE0027" Action="Info" />
    <Rule Id="IDE0028" Action="Info" />
    <Rule Id="IDE0028WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0029" Action="Info" />
    <Rule Id="IDE0029WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0030" Action="Info" />
    <Rule Id="IDE0030WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0031" Action="Info" />
    <Rule Id="IDE0031WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0032" Action="Info" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0034" Action="Info" />
    <Rule Id="IDE0034WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0036" Action="Info" />
    <Rule Id="IDE0036WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0037" Action="Info" />
    <Rule Id="IDE0037WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0039" Action="Info" />
    <Rule Id="IDE0039WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0040" Action="Info" />
    <Rule Id="IDE0040WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0041" Action="Info" />
    <Rule Id="IDE0041WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0042" Action="Info" />
    <Rule Id="IDE0042WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0044" Action="Info" />
    <Rule Id="IDE0044WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0045" Action="Info" />
    <Rule Id="IDE0045WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0046" Action="Info" />
    <Rule Id="IDE0046WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0047" Action="Info" />
    <Rule Id="IDE0047WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0048" Action="Info" />
    <Rule Id="IDE0048WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0049" Action="Info" />
    <Rule Id="IDE0049WithoutSuggestion" Action="Info" />
    <Rule Id="IDE1005" Action="Info" />
    <Rule Id="IDE1005WithoutSuggestion" Action="Info" />
    <Rule Id="IDE1006" Action="Info" />
    <Rule Id="IDE1006WithoutSuggestion" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Info" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Info" />
    <Rule Id="IDE0033" Action="Info" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Info" />
  </Rules>
</RuleSet>