<?xml version="1.0"?>
<ModSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <prefix>mcw</prefix>
    <name>My Custom Wizard</name>
    <title>[UTIL] My Custom Wizard</title>

    <description>
This creates a template for adding your own customized starting Wizard with their own unique set of spell books and retorts.

This allows you to persist your favorite custom Wizard settings and helps to make it easier when you start a new game so you don't have to enter all those settings again.

Instead, you just select your custom Wizard.

The way it works is that you modify the DB_WIZARD_MCW.xml file with your favorite custom settings.

The XML files should be located "\Steam\steamapps\workshop\content\1623070\3134130465\Database\"

You can look for the directory containing "My Custom Wizard.txt" file to point you to the correct directory tree.
    </description>

    <author>DorianGray</author>
    <version>1.0.3</version>
    <icon>mcw:mcw.jpg</icon>

</ModSettings>